{% extends 'base.html' %}

{% block title %}Cards{% endblock %}

{% block js %}
<script src="/static/js/tradingCard.jsx" type="text/jsx"></script>
{% endblock %}


{% block body %}
<div class="grid">
  <!-- Mount Balloonicorn's card on to this element. -->
  <div id="balloonicorn"></div>

  <!-- Mount Float's card on to this element. -->
  <div id="float"></div>

  <!-- Mount Llambda's card on to this element. -->
  <div id="llambda"></div>

  <!-- Mount Banana's card on to this element. -->
  <div id="banana"></div>

  <!-- Mount Strawberry's card on to this element. -->
  <div id="strawberry"></div>
  
  <!-- Mount container's card on to this element. -->
  <div id="container"></div>
</div>

{% endblock %}